<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="img/logo/logo.png" rel="icon">
    <title>Cadastro de Fornecedores</title>
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/ruang-admin.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet"> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        // Função para excluir Fornecedor e seus pedidos
        function excluirFornecedor(idFornecedor) {
            if (confirm("Tem certeza que deseja excluir este Fornecedor e todos os seus pedidos?")) {
                $.ajax({
                    type: "POST",
                    url: "remover_Fornecedor.php",
                    data: { id: idFornecedor },
                    success: function(response) {
                        alert(response);
                        window.location.reload(); // Atualizar a página após a exclusão
                    },
                    error: function(xhr, status, error) {
                        alert("Erro ao excluir Fornecedor: " + xhr.responseText);
                    }
                });
            }
        }
    </script>
    <style>
        .row {
            justify-content: center;
            width: 100%;
        }
        .col.mr-2 {
            text-align: center;
        }
        .card-body {
            min-height: 100px;
        }
        .tudu {
            display: flex;
            flex-flow: column nowrap;
            align-content: center;
            height: 100%;
            justify-content: center;
        }
        .container-fluid {
            height: 80%;
        }
        .details {
            display: none;
        }
    </style>
</head>
<body id="page-top">
    <div id="wrapper">
        <ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="painel-operacional.html">
                <div class="sidebar-brand-icon">
                    <img src="img/logo/logo.png">
                </div>
            </a>
            <hr class="sidebar-divider my-0">
            <li class="nav-item active">
                <a class="nav-link" href="painel-operacional.html">
                    <img class='fas fa-fw fa-tachometer-alt' src="img/painel-op.png" alt="">
                    <span class="text-gray-1000">Painel Operacional</span>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="Fornecedores.html">
                    <img class='fas fa-fw fa-tachometer-alt' src="img/Fornecedores.png" alt="">
                    <span class="text-gray-1000">Fornecedores</span>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="cardapio.html">
                    <img class='fas fa-fw fa-tachometer-alt' src="img/cardapio.png" alt="">
                    <span class="text-gray-1000">Config cardápio</span>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="estoque.html">
                    <img class='fas fa-fw fa-tachometer-alt' src="img/estoque.png" alt="">
                    <span class="text-gray-1000">Estoque</span>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="produtos.html">
                    <img class='fas fa-fw fa-tachometer-alt' src="img/produtos.png" alt="">
                    <span class="text-gray-1000">Produtos</span>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="pedidos.html">
                    <img class='fas fa-fw fa-tachometer-alt' src="img/pedidos.png" alt="">
                    <span class="text-gray-1000">Pedidos</span>
                </a>
            </li>
            <hr class="sidebar-divider">
        </ul>
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top">
                    <button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    <h5 class="text-gray-1000">Olá, Nome da Pessoa!</h5>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                                <form class="navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-1 small" placeholder="O que você está procurando?" aria-label="Search" aria-describedby="basic-addon2" style="border-color: #8ebba791">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>
                        <div class="topbar-divider d-none d-sm-block"></div>
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img class="boyimg" src="img/boy.png">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="index.html">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>

                <div class="container-fluid" id="container-wrapper">
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Fornecedores</h1>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="./">Home</a></li>
                            <li class="breadcrumb-item">Fornecedores</li>
                        </ol>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card mb-4">
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Fornecedores</h6>
                                    <button class="btn btn-primary" data-toggle="modal" data-target="#modalAdicionarFornecedor">Adicionar Fornecedor</button>
                                </div>
                                <div class="table-responsive p-3">
                                    <table class="table align-items-center table-flush table-hover" id="dataTableHover">
                                        <thead class="thead-light">
                                            <tr>
                                                <th>ID</th>
                                                <th>Nome</th>
                                                <th>CNPJ</th>
                                                <th>Telefone 1</th>
                                                <th>STATUS</th>
                                                <th>Email</th>
                                                <th>CEP</th>      
                                                <th>Ações</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!-- Aqui vai o conteúdo da tabela vindo do banco de dados -->
                                            <!-- Exemplo estático para ilustrar -->
                                            <tr>
                                                <td>1</td>
                                                <td>Casa da carne</td>
                                                <td>12345678900</td>
                                                <td>31 12345678900</td>
                                                <td>Ativo</td>
                                                <td>joao.silva@example.com</td>
                                                <td>1321321</td>
                                                <td>
                                                    <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modalEditarFornecedor">Editar</button>
                                                    <button class="btn btn-danger btn-sm" onclick="excluirFornecedor(1)">Excluir</button>
                                                    <button class="btn btn-info btn-sm" data-toggle="modal" data-target="#modalDetalhesFornecedor">Detalhes</button>
                                               
                                                </td>
                                            </tr>
                                            <!-- Fim do exemplo -->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal Adicionar Fornecedor -->
                    <div class="modal fade" id="modalAdicionarFornecedor" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Adicionar Fornecedor</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form id="formAdicionarFornecedor">
                                        <div class="form-group">
                                            <label for="nome">Nome</label>
                                            <input type="text" class="form-control" id="nome" name="nome" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="cnpj">CNPJ</label>
                                            <input type="text" class="form-control" id="cnpj" name="cnpj" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="tel1">Telefone 1</label>
                                            <input type="text" class="form-control" id="tel1" name="tel1" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="tel2">Telefone 2</label>
                                            <input type="text" class="form-control" id="tel2" name="tel2" required>
                                        </div>

                                        <div class="form-group">
                                            <label for="tel3">Telefone 3</label>
                                            <input type="text" class="form-control" id="tel3" name="tel3" required>
                                        </div>

                                        <div class="form-group">
                                            <label for="email">Email</label>
                                            <input type="email" class="form-control" id="email" name="email" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="cep">CEP</label>
                                            <input type="text" class="form-control" id="cep" name="cep" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="estado">Estado</label>
                                            <input type="text" class="form-control" id="estado" name="estado" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="cidade">Cidade</label>
                                            <input type="text" class="form-control" id="cidade" name="cidade" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="rua">Rua</label>
                                            <input type="text" class="form-control" id="rua" name="rua" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="numero">Número</label>
                                            <input type="number" class="form-control" id="numero" name="numero" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="complemento">Complemento</label>
                                            <input type="text" class="form-control" id="complemento" name="complemento" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="status">Status</label>
                                            <select class="form-control" id="status" name="status" required>
                                                <option value="ativo">Ativo</option>
                                                <option value="inativo">Inativo</option>
                                            </select>
                                        </div>
                                       
                                        <button type="submit" class="btn btn-primary">Salvar</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal Editar Fornecedor -->
                    <div class="modal fade" id="modalEditarFornecedor" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Editar Fornecedor</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form id="formEditarFornecedor">
                                        <div class="form-group">
                                            <label for="editNome">Nome</label>
                                            <input type="text" class="form-control" id="editNome" name="nome" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="editCNPJ">CNPJ</label>
                                            <input type="text" class="form-control" id="editCNPJ" name="cnpj" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="editTel1">Telefone 1</label>
                                            <input type="text" class="form-control" id="editTel1" name="tel1" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="editTel2">Telefone 2</label>
                                            <input type="text" class="form-control" id="editTel2" name="tel2" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="editTel3">Telefone 3</label>
                                            <input type="text" class="form-control" id="editTel3" name="tel3" required>
                                        </div>


                                       
                                        <div class="form-group">
                                            <label for="EditEmail">Email</label>
                                            <input type="email" class="form-control" id="EditEmail" name="email" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="Editcep">CEP</label>
                                            <input type="text" class="form-control" id="Editcep" name="cep" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="Editestado">Estado</label>
                                            <input type="text" class="form-control" id="Editestado" name="estado" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="Editcidade">Cidade</label>
                                            <input type="text" class="form-control" id="Editcidade" name="cidade" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="Editrua">Rua</label>
                                            <input type="text" class="form-control" id="Editrua" name="rua" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="Editnumero">Número</label>
                                            <input type="number" class="form-control" id="Editnumero" name="numero" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="Editcomplemento">Complemento</label>
                                            <input type="text" class="form-control" id=Edit"complemento" name="complemento" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="Editstatus">Status</label>
                                            <select class="form-control" id="Editstatus" name="status" required>
                                                <option value="ativo">Ativo</option>
                                                <option value="inativo">Inativo</option>
                                            </select>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Salvar</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
              
                </div>
            </footer>
        </div>
    </div>
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                  
                </div>
            </footer>
        </div>
    </div>

    <!-- Modal Detalhes Fornecedor -->
<div class="modal fade" id="modalDetalhesFornecedor" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Detalhes do Fornecedor</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <div class="form-group row">
                  <label for="detalhesNome" class="col-sm-3 col-form-label">Nome:</label>
                  <div class="col-sm-9">
                      <input type="text" class="form-control" id="detalhesNome" readonly>
                  </div>
              </div>
              <div class="form-group row">
                  <label for="detalhesTel1" class="col-sm-3 col-form-label">Telefone 1</label>
                  <div class="col-sm-9">
                      <input type="text" class="form-control" id="detalhesTel1" readonly>
                  </div>
              </div>
              <div class="form-group row">
                <label for="detalhesTel2" class="col-sm-3 col-form-label">Telefone 2</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="detalhesTel2" readonly>
                </div>
            </div>
            <div class="form-group row">
                <label for="detalhesTel3" class="col-sm-3 col-form-label">Telefone 3</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="detalhesTel3" readonly>
                </div>
            </div>
            <div class="form-group row">
                <label for="detalhesEstado" class="col-sm-3 col-form-label">Estado</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="detalhesEstado" readonly>
                </div>
            </div>
            <div class="form-group row">
                <label for="detalhesCidade" class="col-sm-3 col-form-label">Cidade</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="detalhesCidade" readonly>
                </div>
            </div>
            <div class="form-group row">
                <label for="detalhesRua" class="col-sm-3 col-form-label">Rua</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="detalhesRua" readonly>
                </div>
            </div>
            <div class="form-group row">
                <label for="detalhesNumero" class="col-sm-3 col-form-label">Número</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="detalhesNumero" readonly>
                </div>
            </div>
            <div class="form-group row">
                <label for="detalhesComplemento" class="col-sm-3 col-form-label">Complemento</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="detalhesComplemento" readonly>
                </div>
            </div>

              <div class="form-group row">
                  <label for="detalhesDataCadastro" class="col-sm-3 col-form-label">Data de Cadastro:</label>
                  <div class="col-sm-9">
                      <input type="text" class="form-control" id="detalhesDataCadastro" readonly>
                  </div>
              </div>
              <div class="form-group row">
                  <label for="detalhesDataAtualizacao" class="col-sm-3 col-form-label">Data de Atualização:</label>
                  <div class="col-sm-9">
                      <input type="text" class="form-control" id="detalhesDataAtualizacao" readonly>
                  </div>
              </div>
              <div class="form-group row">
                <label for="detalhesDataRemocao" class="col-sm-3 col-form-label">Data de Remoção:</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="detalhesDataRemocao" readonly>
                </div>
            </div>
          </div>
      </div>
  </div>
</div>


    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="js/ruang-admin.min.js"></script>
    <script src="vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script>
      
    $(document).ready(function () {
        // Abrir o modal de detalhes ao clicar no botão
        $('#dataTableHover').on('click', '.btn-detalhes', function () {
            $('#modalDetalhesFornecedor').modal('show');
        });
    });


        $(document).ready(function () {
            $('#dataTableHover').DataTable(); // Initialize the DataTable
        });
    </script>
</body>
</html>
