<!DOCTYPE html>
<html lang="pt-BR">

<head>
  
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="img/logo/logo.png" rel="icon">
  <title>Cadastro de Clientes</title>
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="css/ruang-admin.min.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet"> 

 <style>
  .row{
    justify-content: center;
    width: 100%;
  }

  .col.mr-2{
    text-align: center;
    
  }
  .card-body{
    min-height: 100px;
  }
  .tudu{
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    height: 100%;
    justify-content: center;
  }
  .container-fluid{
    height: 80%;
  }
 </style>
</head>

<body id="page-top">
  
    <div id="wrapper">
    <!-- Sidebar -->
    <ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="painel-operacional.html">
        <div class="sidebar-brand-icon">
          <img src="img/logo/logo.png">
        </div>
     
      </a>
      <hr class="sidebar-divider my-0">
      <li class="nav-item active">
        <a class="nav-link" href="index.html">
          <img class='fas fa-fw fa-tachometer-alt'src="img/painel-op.png" alt="">
          <span class="text-gray-1000">Painel Operacional</span>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="clientes.html">
          <img class='fas fa-fw fa-tachometer-alt'src="img/clientes.png" alt="">
          <span class="text-gray-1000">Clientes</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="cardapio.html">
          <img class='fas fa-fw fa-tachometer-alt'src="img/cardapio.png" alt="">
          <span class="text-gray-1000">Config cardápio</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="estoque.html">
          <img class='fas fa-fw fa-tachometer-alt'src="img/estoque.png" alt="">
          <span class="text-gray-1000" >Estoque</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="produtos.html">
          <img class='fas fa-fw fa-tachometer-alt'src="img/produtos.png" alt="">
          <span class="text-gray-1000" >Produtos</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="pedidos.html">
          <img class='fas fa-fw fa-tachometer-alt'src="img/pedidos.png" alt="">
          <span class="text-gray-1000" >Pedidos</span></a>
      </li>
      <hr class="sidebar-divider">
      <div class="sidebar-heading">
        
    </ul>


    <!-- Sidebar -->
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">

            <!-- TopBar -->
            <nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top">
              <button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3">
                <i class="fa fa-bars"></i>
              </button>
              <h5 class="text-gray-1000">Olá, Nome da Pessoa! </h5>
              <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown no-arrow">
                  <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-search fa-fw"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                    aria-labelledby="searchDropdown">
                    <form class="navbar-search">
                      <div class="input-group">
                        <input type="text" class="form-control bg-light border-1 small" placeholder="O que você está procurando?"
                          aria-label="Search" aria-describedby="basic-addon2" style="border-color: #8ebba791">
                        <div class="input-group-append">
                          <button class="btn btn-primary" type="button">
                            <i class="fas fa-search fa-sm"></i>
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                </li>
                
                 
                </li>
                <div class="topbar-divider d-none d-sm-block"></div>
                <li class="nav-item dropdown no-arrow">
                  <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <img class="boyimg" src="img/boy.png" >
                   
                  </a>
                  <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="#">
                      <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                      Profile
                    </a>
                    <a class="dropdown-item" href="#">
                      <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                      Settings
                    </a>
                    <a class="dropdown-item" href="#">
                      <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                      Activity Log
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="javascript:void(0);" data-toggle="modal" data-target="#logoutModal">
                      <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                      Logout
                    </a>
                  </div>
                </li>
              </ul>
            </nav>
            <!-- Topbar -->
     



        <!-- Container Fluid-->
        <br><br>
        <div class="container-fluid" id="container-wrapper">
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Clientes</h1>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="./">Home</a></li>
              <li class="breadcrumb-item">Clientes</li>
   
            </ol>
          </div>

          <!-- Row -->
          <div class="row">
           
            </div>
            
            
            <!-- DataTable with Hover -->
            
            <div class="col-lg-12">
              
              
              <div class="card mb-4">
                
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6  class="m-0 font-weight-bold text-primary" >Clientes</h6>
                </div>
                <div class="table-responsive p-3">
                  
                  
                  <table class="table align-items-center table-flush table-hover" id="dataTableHover">
                    <thead class="thead-light">
                      
                      <tr>
                        <th>Código</th>
                        <th>Nome</th>
                        <th>Telefone</th>
                        <th>CEP</th>
                        <th>Cadastro</th>
                        <th>CPF</th>
                        <th></th>
                        
                        
                        
                      </tr>
                    </thead>
                    <tfoot>
                      <tr>
                        <th>Código</th>
                        <th>Nome</th>
                        <th>Telefone</th>
                        <th>CEP</th>
                        <th>Cadastro</th>
                        <th>CPF</th>
                        <th></th>
                        
                      
                      </tr>
                    </tfoot>
                    <tbody>
                      <tr>
                        <td>C0001</td>
                        <td>Pessoa A</td>
                        <td>551234556789</td>
                        <td>123456-765</td>
                        <td>2011/04/25</td>
                        <td>123.456.789.10</td>
                        <td style="display: flex; flex-wrap: wrap;"><a href="#"><img src="img/editar.png" /></a><a href="#"> <img src="img/deletar.png"/> </a></td>
                        
                        
                        
                        
                      </tr>
                      
                      <tr>
                        <td>C0002</td>
                        <td>Pessoa B</td>
                        <td>551234556789</td>
                        <td>123456-765</td>
                        <td>2011/04/25</td>
                        <td>123.456.789.10</td>
                        <td style="display: flex; flex-wrap: wrap;"><a href="#"><img src="img/editar.png" /></a><a href="#"> <img src="img/deletar.png"/> </a></td>
                        
                      </tr>
                      <tr>
                        <td>C0003</td>
                        <td>Pessoa C</td>
                        <td>551234556789</td>
                        <td>123456-765</td>
                        <td>2011/07/25</td>
                        <td>123.456.789.10</td>
                        <td style="display: flex; flex-wrap: wrap;"><a href="#"><img src="img/editar.png" /></a><a href="#"> <img src="img/deletar.png"/> </a></td>
                      </tr>
                      <tr>
                        <td>C0004</td>
                        <td>Pessoa D</td>
                        <td>551234556789</td>
                        <td>123456-765</td>
                        <td>2009/01/12</td>
                        <td>123.456.789.10</td>
                        <td style="display: flex; flex-wrap: wrap;"><a href="#"><img src="img/editar.png" /></a><a href="#"> <img src="img/deletar.png"/> </a></td>
                      </tr>
                      <tr>
                        <td>C0005</td>
                        <td>Pessoa E</td>
                        <td>551234556789</td>
                        <td>123456-765</td>
                        <td>2012/03/29</td>
                        <td>123.456.789.10</td>
                        <td style="display: flex; flex-wrap: wrap;"><a href="#"><img src="img/editar.png" /></a><a href="#"> <img src="img/deletar.png"/> </a></td>
                      </tr>
                      <tr>
                        <td>C0006</td>
                        <td>Pessoa F</td>
                        <td>551234556789</td>
                        <td>123456-765</td>
                        <td>2008/11/28</td>
                        <td>123.456.789.10</td>
                        <td style="display: flex; flex-wrap: wrap;"><a href="#"><img src="img/editar.png" /></a><a href="#"> <img src="img/deletar.png"/> </a></td>
                      </tr>
                      <tr>
                        <td>C0007</td>
                        <td>Pessoa G</td>
                        <td>551234556789</td>
                        <td>123456-765</td>
                        <td>2012/12/02</td>
                        <td>123.456.789.10</td>
                        <td style="display: flex; flex-wrap: wrap;"><a href="#"><img src="img/editar.png" /></a><a href="#"> <img src="img/deletar.png"/> </a></td>
                      </tr>
                      <tr>
                        <td>C0008</td>
                        <td>Pessoa H</td>
                        <td>551234556789</td>
                        <td>123456-765</td>
                        <td>2012/08/06</td>
                        <td>123.456.789.10</td>
                        <td style="display: flex; flex-wrap: wrap;"><a href="#"><img src="img/editar.png" /></a><a href="#"> <img src="img/deletar.png"/> </a></td>
                      </tr>
                      <tr>
                        <td>C0009</td>
                        <td>Pessoa I</td>
                        <td>551234556789</td>
                        <td>123456-765</td>
                        <td>2010/10/14</td>
                        <td>123.456.789.10</td>
                        <td style="display: flex; flex-wrap: wrap;"><a href="#"><img src="img/editar.png" /></a><a href="#"> <img src="img/deletar.png"/> </a></td>
                        
                      
                        
                      </tr>
                  
                      
                    </tbody>
                  </table>
                  
                </div>
                
              </div>
            </div>
          </div>
          
          <!--Row-->

         
    </div>
    
  </div>
  

  

      

  <!-- Scroll to top -->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  

  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="js/ruang-admin.min.js"></script>
  <script src="vendor/chart.js/Chart.min.js"></script>
  <script src="js/demo/chart-area-demo.js"></script>  
  <script src="vendor/jquery/jquery.min.js"></script>
 
  <!-- Page level plugins -->
  <script src="vendor/chart.js/Chart.min.js"></script>
  <script src="vendor/datatables/jquery.dataTables.min.js" lang="pt-BR"></script>
  <script src="vendor/datatables/dataTables.bootstrap4.min.js" lang="pt-BR"></script>
  <!-- Page level custom scripts -->
  <script>
    $(document).ready(function () {
      $('#dataTable').DataTable(); // ID From dataTable 
      $('#dataTableHover').DataTable(); // ID From dataTable with Hover
    });
  </script>
  <script src="js/demo/chart-area-demo.js"></script>
  <script src="js/demo/chart-pie-demo.js"></script>
  <script src="js/demo/chart-bar-demo.js"></script>
</body>

</html>